@import "../base/extend";
@import "../base/variables";

.container__footer {
    background-color: $bg-color;
    text-align: center;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    height: map-get($medicion,alto )
    
}

.container__footer a {
    color: black;
    text-decoration: none;
}