@import "../base/variables";
@import "../base/mixin";
@import "../base/extend";
@import "../base/map";

.principal-modificado{
    display: flex;
    
}


.rowPrincipal1{
    @extend %ubicacion;
    height: 100px;
    text-align: center;
    transition: all 2s;
    padding: 5rem;
    color: lightsalmon;
    
    
}

.rowPrincipal1:hover {
    transform: scale(1.2);
}

.cont-modificado{
    @extend %ubicacion;
    height: 400px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;



}

.containerDos{
    @include margin-padding-gap; 
}


.bg-img {
    height: auto;
    width: 1000px;
    margin-left: 10rem;
}

.pagUno{
    @include margin-padding;
}



